.blue{
    background-color: blue;
}

.blue-text{
    color: blue;
}

.style{
    border: 2px solid white;
    padding: 4px;
    background-color: white;
    display: inline-block;
}

.spacing{
    padding: 2px 2px 2px 2px;
}

header{
    font-weight: bold;
}

body{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(/img/itachi.jpg);
    background-repeat: no-repeat;
}

#border{
    position: absolute;
    border: 2px solid;
    height: 10%;
    background-color: white;
    width: 34% !important;
    top: 24em;
    padding: 20px 3px 3px 30px;
}