.blue{
    background-color: blue;
}

.blue-text{
    color: blue;
}

.style{
    border: 2px solid white;
    padding: 4px;
    background-color: white;
    display: inline-block;
}

.spacing{
    padding: 2px 2px 2px 2px;
    text-align: center;
}

header{
    font-weight: bold;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body{
    background-image: url(/img/itachi.jpg);
    background-repeat: no-repeat;
    background-color: rgb(202, 202, 212);
}

a{
    text-transform: uppercase;
    border: 2px solid blue;
    color: blue;
    text-decoration: none;
    padding: 2px 3px;
}

footer{
    background-color: black;
    padding: 20px;
    text-align: center !important;
}

#border{
    position: absolute;
    border: 2px solid;
    background-color: white;
    width: 34% !important;
    top: 24em;
    padding: 20px 3px 15px 20px;
    color: blue;
    line-height: 1.7em;
    word-spacing: 0.1em;
    margin-left: -2px;
}

#border1{
    border: 2px solid white;
    border-radius: 15px;
    width: 50%;
    margin-left: 20em;
    margin-right: 12em;
    margin-top: 46.77em !important;
    margin-bottom: 3em !important;
    background-color: white;
    padding: 20px 10px;
}

li{
    line-height: 2em;
    font-weight: bold;
}

h2{
    text-decoration: underline !important;
    padding-left: 30px;
    line-height: 1px;
}